# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly

### Data Science Tools:
| Data Science tools | 
|------|
| SQL| 
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
2+2

4

In [10]:
2*3

6

In [12]:
4/2

2.0

### This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

### some of the key takeaways fromthe course
### **Objectives:**
- Learn Python
- Learn Anaconda
- Learn R

## Author:
### Arturo Ayala